<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vote.server.dao.VotingRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.vote.server.entity.VotingRecord">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="create_user" jdbcType="VARCHAR" property="createUser"/>
        <result column="update_user" jdbcType="VARCHAR" property="updateUser"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="del_flag" jdbcType="TINYINT" property="delFlag"/>
        <result column="act_no" jdbcType="VARCHAR" property="actNo"/>
        <result column="candidate_id_card" jdbcType="VARCHAR" property="candidateIdCard"/>
        <result column="candidate_name" jdbcType="VARCHAR" property="candidateName"/>
        <result column="voter_name" jdbcType="VARCHAR" property="voterName"/>
        <result column="voter_id_card" jdbcType="VARCHAR" property="voterIdCard"/>
        <result column="voter_mail" jdbcType="VARCHAR" property="voterMail"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,create_user,update_user,create_time,update_time,del_flag,
        act_no, candidate_id_card, candidate_name, voter_name, voter_id_card, voter_mail
    </sql>

</mapper>
